In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a dictionary with sample data
data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Age': [20, 22, 21, np.nan, 19],  # Adding missing value
    'Math_Score': [85, 78, 90, 95, 60],
    'Physics_Score': [70, 85, 88, 92, 75],
    'English_Score': [80, 75, 88, 90, 65],
}

In [3]:
# Create a DataFrame
df = pd.DataFrame(data)
print(df)

   Student_ID   Age  Math_Score  Physics_Score  English_Score
0           1  20.0          85             70             80
1           2  22.0          78             85             75
2           3  21.0          90             88             88
3           4   NaN          95             92             90
4           5  19.0          60             75             65

In [4]:
# Check for missing values
print(df.isnull().sum())

Student_ID       0
Age              1
Math_Score       0
Physics_Score    0
English_Score    0
dtype: int64

In [5]:
# Fill missing values with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

   Student_ID   Age  Math_Score  Physics_Score  English_Score
0           1  20.0          85             70             80
1           2  22.0          78             85             75
2           3  21.0          90             88             88
3           4  20.5          95             92             90
4           5  19.0          60             75             65

In [6]:
# Identify outliers using Z-score
from scipy import stats

In [7]:
z_scores = np.abs(stats.zscore(df[['Math_Score', 'Physics_Score', 'English_Score']]))
threshold = 3
outliers = (z_scores > threshold).any(axis=1)
print(df[outliers])

Empty DataFrame
Columns: [Student_ID, Age, Math_Score, Physics_Score, English_Score]
Index: []

In [8]:
# Remove outliers
df = df[~outliers]
print(df)

   Student_ID   Age  Math_Score  Physics_Score  English_Score
0           1  20.0          85             70             80
1           2  22.0          78             85             75
2           3  21.0          90             88             88
3           4  20.5          95             92             90
4           5  19.0          60             75             65

In [9]:
# Apply square root transformation
df['Math_Score_Transformed'] = np.sqrt(df['Math_Score'])
print(df)

   Student_ID   Age  Math_Score  Physics_Score  English_Score  \
0           1  20.0          85             70             80
1           2  22.0          78             85             75
2           3  21.0          90             88             88
3           4  20.5          95             92             90
4           5  19.0          60             75             65

   Math_Score_Transformed
0                9.219544
1                8.831761
2                9.486833
3                9.746794
4                7.745967